<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
        {% for field in form %}
       
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }} {{field.errors|striptags}}
                
                
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Change Passowrd</button>
        
        <a href="{% url 'signup' %}" class="btn btn-primary">Go to Register Page</a>

    </form>
    
</body>
</html>