<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Custom styles */
        .container {
            margin-top: 50px;
        }
        .success{
            color:green;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="container">
           
                
                {% comment %} {% for message in messages %}
                <div class="alert alert-danger">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            {% endfor %} {% endcomment %}
        </div>
        <h2>User Registration</h2>
        <form method="post" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
            {% for field in form %}
           
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }} {{field.errors|striptags}}
                    
                    
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">LOGIN</button>
            
            <a href="{% url 'signup' %}" class="btn btn-primary">Go to Register Page</a>

        </form>
        
    
        <!-- Bootstrap JS (Optional, for advanced features) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
